<h3>{{#link-to 'week' model.week}}{{fa-icon "chevron-circle-left"}}{{/link-to}}{{model.type}}</h3>

<ul class="workouts">
{{#each model.workouts as |workout index|}}
    {{workout-row workout=workout day=model.id store=store action="saveWorkout" index=index}}
{{/each}}
</ul>