<h3>Milestones</h3>

<ul class="exercises">
{{#each model as |milestone|}}
<li><a>{{milestone.workout_id}}-{{milestone.day_id}}-{{milestone.week_id}}</a><div class="boxes"{{action 'deleteMilestone' milestone}}>{{fa-icon "trash"}}</div></li>
{{/each}}
</ul>

{{#if confirmDelete}}
<button {{action 'deleteMilestones'}} class="button-confirm-deletes">
Confirm Deletion
</button>
<button {{action 'cancelDeleteMilestones'}} class="button-cancel-deletes">
Cancel
</button>
{{else}}
<!--<button {{action 'confirmDeleteMilestones'}} class="button-deletes">
Delete Milestones
</button>-->
{{/if}}
