<h3>My Workouts</h3>

<ul class="exercises">
{{#each model as |data|}}
<li>Day: {{data.day}}, Workout: {{data.workout}}, Set: {{data.set}}, Reps: {{data.reps}} @ {{data.weight}}kg<div class="boxes"{{action 'deleteItem' data}}>{{fa-icon "trash"}}</div></li>
{{/each}}
</ul>