<h3 data-week={{model.id}}>{{#link-to 'weeks'}}{{fa-icon "chevron-circle-left"}}{{/link-to}}Week {{model.id}}</h3>

<ul class="days">
{{#each model.days as |day index|  }}
    <li>
    {{#if day.isComplete}}
        {{fa-icon "check-square-o" classNames="icon-check"}}
    {{else}}
        {{fa-icon "square-o" classNames="icon-check"}}
    {{/if}}
    {{#link-to 'day' day.id}}{{day.type}}{{/link-to}}
    {{fa-icon "angle-right"}}
    </li>
{{/each}}
</ul>